@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --header_color: #fff;
    --bg_color: #f0b54d;
    --bg_color2: #fff7e3;
    --bg_color3: #f2371d;
    --bg_color4: #f22512;
    --bg_color5: #f6f6f6;
    --text_color: #0d0f22;
    --text_color1: #5b5858;
    --text_color2: #444444;
    --white_color: #fff;
    --border_color: #ddd;
    --primary_text: #756bee;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
hr {
    margin: 12px 0;
    border: 1px solid #f1f1f1;
}

.custom-btn {
    background: #ff5757;
    box-shadow: 0px 2px 3px 0px #fd5c5c;
    color: #fff;
    padding: 10px 28px;
    outline: none;
    transform: scale(1.001);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    &:hover {
        background: #fd5c5c;
        box-shadow: 0px 2px 6px 0px #fd5c5c;
        color: #fff;
    }
    &:active,
    &:focus,
    &:visited,
    &:focus-within,
    &:focus-visible,
    &:target {
        transform: scale(.95);
    }
    
}

.custom-btn1 {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    background: var(--primary_text);
    box-shadow: 0px 2px 3px 0px var(--primary_text);
    border-radius: 30px;
    color: var(--white_color);
    padding: 12px 36px;
    outline: none;
    letter-spacing: .8px;
    background-size: 200% auto;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    &:hover {
        background-position: 100%;
        transform: scale(1.02);
        background: var(--primary_text);
        box-shadow: 0px 2px 6px 0px var(--primary_text);
        color: var(--white_color);
    }
    &:active,
    &:focus,
    &:visited,
    &:focus-within,
    &:focus-visible,
    &:target {
        transform: scale(.95);
    }
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    outline: none;
    letter-spacing: 0.5px;
    font-size: 14px;
    border-radius: 4px;
}
input.form-check-input {
    padding: 8px;
}
input:focus,
input:focus-within,
select:focus,
select:focus-within {
    border: 1px solid #cb6ce6;
    box-shadow: none !important;
}
.section-padding {
    padding: 60px 0;
}


// Page Wrapper
.page-wrapper {
    
}

footer {
    background: var(--bg_color5);
    padding: 20px 0;
    .footer-top {
        border-bottom: 1px solid var(--border_color);
        padding: 12px 0;
        .address {
            display: flex;
            align-items: center;
            column-gap: 6px;
        }
        .widget {
            display: flex;
            justify-content: end;
            ul {
                display: flex;
                li {
                    a {
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
    .copyright {
        margin-top: 20px;
        p {
            text-align: center;
        }
    }
}