:root {
    --header_color: #fff;
    --bg_color: #f0b54d;
    --bg_color2: #fff7e3;
    --bg_color3: #f2371d;
    --bg_color4: #f22512;
    --bg_color5: #f6f6f6;
    --text_color: #0d0f22;
    --text_color1: #5b5858;
    --text_color2: #444444;
    --white_color: #fff;
    --border_color: #ddd;
    --primary_text: #756bee;
    font-family: 'Quicksand', sans-serif;
}



.page-wrapper {
    .heading {
        .title {
            font-size: 38px;
            font-weight: 600;
            text-align: center;
            line-height: 60px;
            span {
                color: var(--primary_text);
            }
        }
    }
    .banner {
        position: relative;
        .animi-image {
            .image {
                position: absolute;
                display: flex;
            }
            .top-center {
                top: -60px;
                left: 50%;
                transform: translateX(-50%);
                img {
                    width: 100%;
                    animation: grow 4s linear infinite;
                    @keyframes grow {
                        0% {
                            transform: scale(.7) rotate(0deg)
                        }
                        30% {
                            transform: scale(1) rotate(90deg)
                        }
                        60% {
                            transform: scale(1) rotate(90deg)
                        }
                        to {
                            transform: scale(.7) rotate(0deg)
                        }
                    }
                }
            }
            .right {
                top: 0;
                right: 0;
                justify-content: flex-end;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .bottom-right {
                bottom: 12%;
                right: 20%;
                img {
                    width: 100%;
                    animation: circle 4s linear infinite;
                    @keyframes circle {
                        0% {
                            transform: rotate(0deg)
                        }
                        30% {
                            transform: rotate(90deg)
                        }
                        60% {
                            transform: rotate(90deg)
                        }
                        to {
                            transform: rotate(180deg)
                        }
                    }
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            h1 {
                font-size: 48px;
                font-weight: 600;
                letter-spacing: 1.5px;
                line-height: 75px;
                span {
                    color: var(--bg_color);
                }
            }
            .text {
                display: flex;
                align-items: center;
                column-gap: 30px;
                margin-top: 40px;
                h2 {
                    font-weight: 600;
                    font-size: 28px;
                }
                .pdt-price {
                    .price {
                        position: relative;
                        .num {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            color: var(--bg_color3);
                        }
                    }
                }
            }
        }
        .banner-bg {
            position: relative;
            .img {
                position: absolute;
                top: 60px;
                left: 60px;
                animation: MoveUpDown 3s infinite;
                @keyframes MoveUpDown {
                    0%,to {
                        bottom: -50px
                    }
                    50% {
                        bottom: 0
                    }
                }
                
            }
        }
        .actions {
            display: flex;
            align-items: center;
            column-gap: 40px;
            h3 {
                font-size: 28px;
                font-weight: 600;
                color: var(--bg_color3);
            }
        }
    }
    .why-us {
        background: var(--bg_color2);
        position: relative;
        overflow-x: hidden;
        .animi-image {
            .image {
                position: absolute;
                display: flex;
                align-items: center;
                top: 50%;
                transform: translateY(-50%);
            }
            .left {
                left: -100px;
                justify-content: flex-start;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right {
                right: -100px;
                justify-content: flex-end;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .content {
            text-align: center;
            .text {
                max-width: 1200px;
                font-size: 24px;
                margin: auto;
                margin-top: 30px;
                line-height: 40px;
                color: var(--text_color1);
            }
        }
    }
    .related-pdt {
        .pdt-img {
            &:hover {
                img {
                    transform: translateY(-12px);
                    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
                }
            }
            img {
                width: 100%;
                object-fit: contain;
                border: 1px solid var(--primary_text);
                border-radius: 6px;
                padding: 4px;
                transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
            }
        }
    }
    .specification {
        position: relative;
        background: var(--bg_color2);
        .animi-image {
            .image {
                position: absolute;
                display: flex;
            }
            .left-bottom {
                bottom: 0;
                left: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .right-bottom {
                top: 100%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        .box {
            background: var(--white_color);
            height: 320px;
            padding: 45px 45px 16px;
            border-radius: 40px;
            box-shadow: 0 10px 50px rgba(0,0,0,.05);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 24px;
            z-index: 3;
            overflow: hidden;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 200%;
                height: 0%;
                background: var(--bg_color);
                z-index: -1;
                transform: rotate(-45deg) translateX(-50%);
                transform-origin: top left;
                transition: all 0.7s ease 0s;
                -webkit-transition: all 0.7s ease 0s;
            }
            &:hover {
                &::after {
                    height: 200%;
                    transform: rotate(-45deg) translateX(-50%);
                }
                .txt {
                    color: var(--white_color);
                }
            }
            .icon {
                width: 100px;
                height: 100px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--bg_color2);
                i {
                    font-size: 36px;
                    color: var(--bg_color);
                }
            }
            .txt {
                margin-top: 40px;
                text-align: center;
                font-size: 18px;
                color: var(--text_color1);
                transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
            }
        }
    }
    .phone-area {
        .content {
            h4 {
                color: var(--bg_color3);
                font-size: 32px;
                font-weight: 600;
                margin-top: 40px;
                margin-bottom: 24px;
            }
            p {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
    .place-order {
        .billing-details {
            h3 {
                color: var(--primary_text);
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 30px;
                margin-top: 20px;
            }
            .payment {
                margin-top: 50px;
                box-shadow: 0 2px 20px rgba(0,0,0,.08);
                border-radius: 8px;
                max-width: 350px;
                overflow: hidden;
                .form-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 8px;
                    .form-check-label {
                        margin-bottom: -6px;
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 18px;
                    margin-top: 36px;
                    margin-bottom: 0;
                    background: var(--primary_text);
                    padding: 12px;
                    color: var(--white_color);
                    text-align: center;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        top: -15px;
                        left: 20%;
                        width: 30px;
                        height: 15px;
                        border-bottom: 15px solid var(--primary_text);
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                    }
                }
            }
        }
        .order {
            h3 {
                color: var(--primary_text);
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 22px;
            }
            ul {
                border: 1px solid var(--border_color);
                border-radius: 6px;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 30px;
                    border-bottom: 1px solid var(--border_color);
                    padding: 16px 20px;
                    &:last-child {
                        border-bottom: 0px solid transparent;
                    }
                    &:first-child,&:last-child {
                        padding: 24px 20px;
                    }
                    .pdt {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        .img {
                            img {
                                width: 60px;
                                height: 60px;
                                object-fit: contain;
                                border: 1px solid var(--border_color);
                                border-radius: 6px;
                                padding: 4px;
                            }
                        }
                        p {
                            margin-bottom: 0;
                            font-weight: 600;
                        }
                    }
                    .price {
                        display: flex;
                        align-items: center;
                        column-gap: 30px;
                        input {
                            height: 40px;
                            width: 80px;
                        }
                        h5 {
                            white-space: nowrap;
                            margin-bottom: 0;
                        }
                    }
                    .form-check {
                        display: flex;
                        column-gap: 6px;
                        align-items: center;
                        .form-check-label {
                            font-size: 14px;
                        }
                    }
                    .num {
                        color: var(--text_color2);
                    }
                }
            }
            button {
                border: none;
                outline: none;
                margin-top: 30px;
                display: block;
                width: 100%;
            }
        }
    }
    .info-box {
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            .text {
                margin-top: 30px;
                h5 {
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
    .product-order {
        .content {
            background: var(--bg_color);
            position: relative;
            text-align: center;
            border-radius: 12px;
            padding: 80px 20px;
            overflow: hidden;
            .animi-image {
                .image {
                    position: absolute;
                    display: flex;
                }
                .left {
                    top: 0;
                    left: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            h2 {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 40px;
            }
            h4 {
                font-weight: 600;
                margin-bottom: 60px;
            }
        }
    }
}