:root {
  --header_color: #fff;
  --bg_color: #f0b54d;
  --bg_color2: #fff7e3;
  --bg_color3: #f2371d;
  --bg_color4: #f22512;
  --bg_color5: #f6f6f6;
  --text_color: #0d0f22;
  --text_color1: #5b5858;
  --text_color2: #444444;
  --white_color: #fff;
  --border_color: #ddd;
  --primary_text: #756bee;
  font-family: "Quicksand", sans-serif;
}

.page-wrapper .heading .title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
}
.page-wrapper .heading .title span {
  color: var(--primary_text);
}
.page-wrapper .banner {
  position: relative;
}
.page-wrapper .banner .animi-image .image {
  position: absolute;
  display: flex;
}
.page-wrapper .banner .animi-image .top-center {
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.page-wrapper .banner .animi-image .top-center img {
  width: 100%;
  animation: grow 4s linear infinite;
}
@keyframes grow {
  0% {
    transform: scale(0.7) rotate(0deg);
  }
  30% {
    transform: scale(1) rotate(90deg);
  }
  60% {
    transform: scale(1) rotate(90deg);
  }
  to {
    transform: scale(0.7) rotate(0deg);
  }
}
.page-wrapper .banner .animi-image .right {
  top: 0;
  right: 0;
  justify-content: flex-end;
}
.page-wrapper .banner .animi-image .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-wrapper .banner .animi-image .bottom-right {
  bottom: 12%;
  right: 20%;
}
.page-wrapper .banner .animi-image .bottom-right img {
  width: 100%;
  animation: circle 4s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.page-wrapper .banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.page-wrapper .banner .content h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 75px;
}
.page-wrapper .banner .content h1 span {
  color: var(--bg_color);
}
.page-wrapper .banner .content .text {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 40px;
}
.page-wrapper .banner .content .text h2 {
  font-weight: 600;
  font-size: 28px;
}
.page-wrapper .banner .content .text .pdt-price .price {
  position: relative;
}
.page-wrapper .banner .content .text .pdt-price .price .num {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bg_color3);
}
.page-wrapper .banner .banner-bg {
  position: relative;
}
.page-wrapper .banner .banner-bg .img {
  position: absolute;
  top: 60px;
  left: 60px;
  animation: MoveUpDown 3s infinite;
}
@keyframes MoveUpDown {
  0%, to {
    bottom: -50px;
  }
  50% {
    bottom: 0;
  }
}
.page-wrapper .banner .actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.page-wrapper .banner .actions h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--bg_color3);
}
.page-wrapper .why-us {
  background: var(--bg_color2);
  position: relative;
  overflow-x: hidden;
}
.page-wrapper .why-us .animi-image .image {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.page-wrapper .why-us .animi-image .left {
  left: -100px;
  justify-content: flex-start;
}
.page-wrapper .why-us .animi-image .left img {
  width: 100%;
  height: 100%;
}
.page-wrapper .why-us .animi-image .right {
  right: -100px;
  justify-content: flex-end;
}
.page-wrapper .why-us .animi-image .right img {
  width: 100%;
  height: 100%;
}
.page-wrapper .why-us .content {
  text-align: center;
}
.page-wrapper .why-us .content .text {
  max-width: 1200px;
  font-size: 24px;
  margin: auto;
  margin-top: 30px;
  line-height: 40px;
  color: var(--text_color1);
}
.page-wrapper .related-pdt .pdt-img:hover img {
  transform: translateY(-12px);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.page-wrapper .related-pdt .pdt-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid var(--primary_text);
  border-radius: 6px;
  padding: 4px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.page-wrapper .specification {
  position: relative;
  background: var(--bg_color2);
}
.page-wrapper .specification .animi-image .image {
  position: absolute;
  display: flex;
}
.page-wrapper .specification .animi-image .left-bottom {
  bottom: 0;
  left: 0;
}
.page-wrapper .specification .animi-image .left-bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-wrapper .specification .animi-image .right-bottom {
  top: 100%;
  right: 0;
  transform: translateY(-50%);
}
.page-wrapper .specification .box {
  background: var(--white_color);
  height: 320px;
  padding: 45px 45px 16px;
  border-radius: 40px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  z-index: 3;
  overflow: hidden;
}
.page-wrapper .specification .box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 0%;
  background: var(--bg_color);
  z-index: -1;
  transform: rotate(-45deg) translateX(-50%);
  transform-origin: top left;
  transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
}
.page-wrapper .specification .box:hover::after {
  height: 200%;
  transform: rotate(-45deg) translateX(-50%);
}
.page-wrapper .specification .box:hover .txt {
  color: var(--white_color);
}
.page-wrapper .specification .box .icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg_color2);
}
.page-wrapper .specification .box .icon i {
  font-size: 36px;
  color: var(--bg_color);
}
.page-wrapper .specification .box .txt {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--text_color1);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.page-wrapper .phone-area .content h4 {
  color: var(--bg_color3);
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 24px;
}
.page-wrapper .phone-area .content p {
  font-size: 22px;
  font-weight: 600;
}
.page-wrapper .place-order .billing-details h3 {
  color: var(--primary_text);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
}
.page-wrapper .place-order .billing-details .payment {
  margin-top: 50px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  max-width: 350px;
  overflow: hidden;
}
.page-wrapper .place-order .billing-details .payment .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.page-wrapper .place-order .billing-details .payment .form-check .form-check-label {
  margin-bottom: -6px;
  font-size: 20px;
}
.page-wrapper .place-order .billing-details .payment p {
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 0;
  background: var(--primary_text);
  padding: 12px;
  color: var(--white_color);
  text-align: center;
  position: relative;
}
.page-wrapper .place-order .billing-details .payment p::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 20%;
  width: 30px;
  height: 15px;
  border-bottom: 15px solid var(--primary_text);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.page-wrapper .place-order .order h3 {
  color: var(--primary_text);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 22px;
}
.page-wrapper .place-order .order ul {
  border: 1px solid var(--border_color);
  border-radius: 6px;
}
.page-wrapper .place-order .order ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-bottom: 1px solid var(--border_color);
  padding: 16px 20px;
}
.page-wrapper .place-order .order ul li:last-child {
  border-bottom: 0px solid transparent;
}
.page-wrapper .place-order .order ul li:first-child, .page-wrapper .place-order .order ul li:last-child {
  padding: 24px 20px;
}
.page-wrapper .place-order .order ul li .pdt {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.page-wrapper .place-order .order ul li .pdt .img img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid var(--border_color);
  border-radius: 6px;
  padding: 4px;
}
.page-wrapper .place-order .order ul li .pdt p {
  margin-bottom: 0;
  font-weight: 600;
}
.page-wrapper .place-order .order ul li .price {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.page-wrapper .place-order .order ul li .price input {
  height: 40px;
  width: 80px;
}
.page-wrapper .place-order .order ul li .price h5 {
  white-space: nowrap;
  margin-bottom: 0;
}
.page-wrapper .place-order .order ul li .form-check {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}
.page-wrapper .place-order .order ul li .form-check .form-check-label {
  font-size: 14px;
}
.page-wrapper .place-order .order ul li .num {
  color: var(--text_color2);
}
.page-wrapper .place-order .order button {
  border: none;
  outline: none;
  margin-top: 30px;
  display: block;
  width: 100%;
}
.page-wrapper .info-box .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-wrapper .info-box .box .text {
  margin-top: 30px;
}
.page-wrapper .info-box .box .text h5 {
  font-size: 24px;
  font-weight: 600;
}
.page-wrapper .product-order .content {
  background: var(--bg_color);
  position: relative;
  text-align: center;
  border-radius: 12px;
  padding: 80px 20px;
  overflow: hidden;
}
.page-wrapper .product-order .content .animi-image .image {
  position: absolute;
  display: flex;
}
.page-wrapper .product-order .content .animi-image .left {
  top: 0;
  left: 0;
}
.page-wrapper .product-order .content .animi-image .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-wrapper .product-order .content h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
}
.page-wrapper .product-order .content h4 {
  font-weight: 600;
  margin-bottom: 60px;
}/*# sourceMappingURL=wallet.css.map */